# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de VS Code
.vscode/

# Cobertura de pruebas
coverage/

# Carpeta de compilación (si aplica)
dist/
build/